@tailwind components;
@tailwind utilities;

@layer components {
  .all-\[unset\] {
    all: unset;
  }
}

:root {
  --defaultblack: rgba(0, 0, 0, 1);
  --defaultblue-100: rgba(219, 234, 254, 1);
  --defaultblue-200: rgba(191, 219, 254, 1);
  --defaultblue-300: rgba(147, 197, 253, 1);
  --defaultblue-400: rgba(96, 165, 250, 1);
  --defaultblue-50: rgba(239, 246, 255, 1);
  --defaultblue-500: rgba(59, 130, 246, 1);
  --defaultblue-600: rgba(37, 99, 235, 1);
  --defaultblue-700: rgba(29, 78, 216, 1);
  --defaultblue-800: rgba(30, 64, 175, 1);
  --defaultblue-900: rgba(30, 58, 138, 1);
  --defaultgray-100: rgba(243, 244, 246, 1);
  --defaultgray-200: rgba(229, 231, 235, 1);
  --defaultgray-300: rgba(209, 213, 219, 1);
  --defaultgray-400: rgba(156, 163, 175, 1);
  --defaultgray-50: rgba(249, 250, 251, 1);
  --defaultgray-500: rgba(107, 114, 128, 1);
  --defaultgray-600: rgba(75, 85, 99, 1);
  --defaultgray-700: rgba(55, 65, 81, 1);
  --defaultgray-800: rgba(31, 41, 55, 1);
  --defaultgray-900: rgba(17, 24, 39, 1);
  --defaultgreen-100: rgba(209, 250, 229, 1);
  --defaultgreen-200: rgba(167, 243, 208, 1);
  --defaultgreen-300: rgba(110, 231, 183, 1);
  --defaultgreen-400: rgba(52, 211, 153, 1);
  --defaultgreen-50: rgba(236, 253, 245, 1);
  --defaultgreen-500: rgba(16, 185, 129, 1);
  --defaultgreen-600: rgba(5, 150, 105, 1);
  --defaultgreen-700: rgba(4, 120, 87, 1);
  --defaultgreen-800: rgba(6, 95, 70, 1);
  --defaultgreen-900: rgba(6, 78, 59, 1);
  --defaultindigo-100: rgba(224, 231, 255, 1);
  --defaultindigo-200: rgba(199, 210, 254, 1);
  --defaultindigo-300: rgba(165, 180, 252, 1);
  --defaultindigo-400: rgba(129, 140, 248, 1);
  --defaultindigo-50: rgba(238, 242, 255, 1);
  --defaultindigo-500: rgba(99, 102, 241, 1);
  --defaultindigo-600: rgba(79, 70, 229, 1);
  --defaultindigo-700: rgba(67, 56, 202, 1);
  --defaultindigo-800: rgba(55, 48, 163, 1);
  --defaultindigo-900: rgba(49, 46, 129, 1);
  --defaultpink-100: rgba(252, 231, 243, 1);
  --defaultpink-200: rgba(251, 207, 232, 1);
  --defaultpink-300: rgba(249, 168, 212, 1);
  --defaultpink-400: rgba(244, 114, 182, 1);
  --defaultpink-50: rgba(253, 242, 248, 1);
  --defaultpink-500: rgba(236, 72, 153, 1);
  --defaultpink-600: rgba(219, 39, 119, 1);
  --defaultpink-700: rgba(190, 24, 93, 1);
  --defaultpink-800: rgba(157, 23, 77, 1);
  --defaultpink-900: rgba(131, 24, 67, 1);
  --defaultpink-90035: rgba(131, 24, 67, 0.35);
  --defaultpurple-100: rgba(237, 233, 254, 1);
  --defaultpurple-200: rgba(221, 214, 254, 1);
  --defaultpurple-300: rgba(196, 181, 253, 1);
  --defaultpurple-400: rgba(167, 139, 250, 1);
  --defaultpurple-50: rgba(245, 243, 255, 1);
  --defaultpurple-500: rgba(139, 92, 246, 1);
  --defaultpurple-600: rgba(124, 58, 237, 1);
  --defaultpurple-700: rgba(109, 40, 217, 1);
  --defaultpurple-800: rgba(91, 33, 182, 1);
  --defaultpurple-900: rgba(76, 29, 149, 1);
  --defaultred-100: rgba(254, 226, 226, 1);
  --defaultred-200: rgba(254, 202, 202, 1);
  --defaultred-300: rgba(252, 165, 165, 1);
  --defaultred-400: rgba(248, 113, 113, 1);
  --defaultred-50: rgba(254, 242, 242, 1);
  --defaultred-500: rgba(239, 68, 68, 1);
  --defaultred-600: rgba(220, 38, 38, 1);
  --defaultred-700: rgba(185, 28, 28, 1);
  --defaultred-800: rgba(153, 27, 27, 1);
  --defaultred-900: rgba(127, 29, 29, 1);
  --defaultwhite: rgba(255, 255, 255, 1);
  --defaultyellow-100: rgba(254, 243, 199, 1);
  --defaultyellow-200: rgba(253, 230, 138, 1);
  --defaultyellow-300: rgba(252, 211, 77, 1);
  --defaultyellow-400: rgba(251, 191, 36, 1);
  --defaultyellow-50: rgba(255, 251, 235, 1);
  --defaultyellow-500: rgba(245, 158, 11, 1);
  --defaultyellow-600: rgba(217, 119, 6, 1);
  --defaultyellow-700: rgba(180, 83, 9, 1);
  --defaultyellow-800: rgba(146, 64, 14, 1);
  --defaultyellow-900: rgba(120, 53, 15, 1);
  --extendedamber-100: rgba(254, 243, 199, 1);
  --extendedamber-200: rgba(253, 230, 138, 1);
  --extendedamber-300: rgba(252, 211, 77, 1);
  --extendedamber-400: rgba(251, 191, 36, 1);
  --extendedamber-50: rgba(255, 251, 235, 1);
  --extendedamber-500: rgba(245, 158, 11, 1);
  --extendedamber-600: rgba(217, 119, 6, 1);
  --extendedamber-700: rgba(180, 83, 9, 1);
  --extendedamber-800: rgba(146, 64, 14, 1);
  --extendedamber-900: rgba(120, 53, 15, 1);
  --extendedblue-100: rgba(219, 234, 254, 1);
  --extendedblue-200: rgba(191, 219, 254, 1);
  --extendedblue-300: rgba(147, 197, 253, 1);
  --extendedblue-400: rgba(96, 165, 250, 1);
  --extendedblue-50: rgba(239, 246, 255, 1);
  --extendedblue-500: rgba(59, 130, 246, 1);
  --extendedblue-600: rgba(37, 99, 235, 1);
  --extendedblue-700: rgba(29, 78, 216, 1);
  --extendedblue-800: rgba(30, 64, 175, 1);
  --extendedblue-900: rgba(30, 58, 138, 1);
  --extendedblue-gray100: rgba(241, 245, 249, 1);
  --extendedblue-gray200: rgba(226, 232, 240, 1);
  --extendedblue-gray300: rgba(203, 213, 225, 1);
  --extendedblue-gray400: rgba(148, 163, 184, 1);
  --extendedblue-gray50: rgba(248, 250, 252, 1);
  --extendedblue-gray500: rgba(100, 116, 139, 1);
  --extendedblue-gray600: rgba(71, 85, 105, 1);
  --extendedblue-gray700: rgba(51, 65, 85, 1);
  --extendedblue-gray800: rgba(30, 41, 59, 1);
  --extendedblue-gray900: rgba(15, 23, 42, 1);
  --extendedcool-gray100: rgba(243, 244, 246, 1);
  --extendedcool-gray200: rgba(229, 231, 235, 1);
  --extendedcool-gray300: rgba(209, 213, 219, 1);
  --extendedcool-gray400: rgba(156, 163, 175, 1);
  --extendedcool-gray50: rgba(249, 250, 251, 1);
  --extendedcool-gray500: rgba(107, 114, 128, 1);
  --extendedcool-gray600: rgba(75, 85, 99, 1);
  --extendedcool-gray700: rgba(55, 65, 81, 1);
  --extendedcool-gray800: rgba(31, 41, 55, 1);
  --extendedcool-gray900: rgba(17, 24, 39, 1);
  --extendedcyan-100: rgba(207, 250, 254, 1);
  --extendedcyan-200: rgba(165, 243, 252, 1);
  --extendedcyan-300: rgba(103, 232, 249, 1);
  --extendedcyan-400: rgba(34, 211, 238, 1);
  --extendedcyan-50: rgba(236, 254, 255, 1);
  --extendedcyan-500: rgba(6, 182, 212, 1);
  --extendedcyan-600: rgba(8, 145, 178, 1);
  --extendedcyan-700: rgba(14, 116, 144, 1);
  --extendedcyan-800: rgba(21, 94, 117, 1);
  --extendedcyan-900: rgba(22, 78, 99, 1);
  --extendedemerald-100: rgba(209, 250, 229, 1);
  --extendedemerald-200: rgba(167, 243, 208, 1);
  --extendedemerald-300: rgba(110, 231, 183, 1);
  --extendedemerald-400: rgba(52, 211, 153, 1);
  --extendedemerald-50: rgba(236, 253, 245, 1);
  --extendedemerald-500: rgba(16, 185, 129, 1);
  --extendedemerald-600: rgba(5, 150, 105, 1);
  --extendedemerald-700: rgba(4, 120, 87, 1);
  --extendedemerald-800: rgba(6, 95, 70, 1);
  --extendedemerald-900: rgba(6, 78, 59, 1);
  --extendedfuschia-100: rgba(250, 232, 255, 1);
  --extendedfuschia-200: rgba(245, 208, 254, 1);
  --extendedfuschia-300: rgba(240, 171, 252, 1);
  --extendedfuschia-400: rgba(232, 121, 249, 1);
  --extendedfuschia-50: rgba(253, 244, 255, 1);
  --extendedfuschia-500: rgba(217, 70, 239, 1);
  --extendedfuschia-600: rgba(192, 38, 211, 1);
  --extendedfuschia-700: rgba(162, 28, 175, 1);
  --extendedfuschia-800: rgba(134, 25, 143, 1);
  --extendedfuschia-900: rgba(112, 26, 117, 1);
  --extendedgray-100: rgba(244, 244, 245, 1);
  --extendedgray-200: rgba(228, 228, 231, 1);
  --extendedgray-300: rgba(212, 212, 216, 1);
  --extendedgray-400: rgba(161, 161, 170, 1);
  --extendedgray-50: rgba(250, 250, 250, 1);
  --extendedgray-500: rgba(113, 113, 122, 1);
  --extendedgray-600: rgba(82, 82, 91, 1);
  --extendedgray-700: rgba(63, 63, 70, 1);
  --extendedgray-800: rgba(39, 39, 42, 1);
  --extendedgray-900: rgba(24, 24, 27, 1);
  --extendedgreen-100: rgba(220, 252, 231, 1);
  --extendedgreen-200: rgba(187, 247, 208, 1);
  --extendedgreen-300: rgba(134, 239, 172, 1);
  --extendedgreen-400: rgba(74, 222, 128, 1);
  --extendedgreen-500: rgba(34, 197, 94, 1);
  --extendedgreen-600: rgba(22, 163, 74, 1);
  --extendedgreen-700: rgba(21, 128, 61, 1);
  --extendedgreen-800: rgba(22, 101, 52, 1);
  --extendedgreen-900: rgba(20, 83, 45, 1);
  --extendedindigo-100: rgba(224, 231, 255, 1);
  --extendedindigo-200: rgba(199, 210, 254, 1);
  --extendedindigo-300: rgba(165, 180, 252, 1);
  --extendedindigo-400: rgba(129, 140, 248, 1);
  --extendedindigo-50: rgba(238, 242, 255, 1);
  --extendedindigo-500: rgba(99, 102, 241, 1);
  --extendedindigo-600: rgba(79, 70, 229, 1);
  --extendedindigo-700: rgba(67, 56, 202, 1);
  --extendedindigo-800: rgba(55, 48, 163, 1);
  --extendedindigo-900: rgba(49, 46, 129, 1);
  --extendedlight-blue100: rgba(224, 242, 254, 1);
  --extendedlight-blue200: rgba(186, 230, 253, 1);
  --extendedlight-blue300: rgba(125, 211, 252, 1);
  --extendedlight-blue400: rgba(56, 189, 248, 1);
  --extendedlight-blue50: rgba(240, 249, 255, 1);
  --extendedlight-blue500: rgba(14, 165, 233, 1);
  --extendedlight-blue600: rgba(2, 132, 199, 1);
  --extendedlight-blue700: rgba(3, 105, 161, 1);
  --extendedlight-blue800: rgba(7, 89, 133, 1);
  --extendedlight-blue900: rgba(12, 74, 110, 1);
  --extendedlime-100: rgba(236, 252, 203, 1);
  --extendedlime-200: rgba(217, 249, 157, 1);
  --extendedlime-300: rgba(190, 242, 100, 1);
  --extendedlime-400: rgba(163, 230, 53, 1);
  --extendedlime-50: rgba(247, 254, 231, 1);
  --extendedlime-500: rgba(132, 204, 22, 1);
  --extendedlime-600: rgba(101, 163, 13, 1);
  --extendedlime-700: rgba(77, 124, 15, 1);
  --extendedlime-800: rgba(63, 98, 18, 1);
  --extendedlime-900: rgba(54, 83, 20, 1);
  --extendedorange-100: rgba(255, 237, 213, 1);
  --extendedorange-200: rgba(254, 215, 170, 1);
  --extendedorange-300: rgba(253, 186, 116, 1);
  --extendedorange-400: rgba(251, 146, 60, 1);
  --extendedorange-50: rgba(255, 247, 237, 1);
  --extendedorange-500: rgba(249, 115, 22, 1);
  --extendedorange-600: rgba(234, 88, 12, 1);
  --extendedorange-700: rgba(194, 65, 12, 1);
  --extendedorange-800: rgba(154, 52, 18, 1);
  --extendedorange-900: rgba(124, 45, 18, 1);
  --extendedpink-100: rgba(252, 231, 243, 1);
  --extendedpink-200: rgba(251, 207, 232, 1);
  --extendedpink-300: rgba(249, 168, 212, 1);
  --extendedpink-400: rgba(244, 114, 182, 1);
  --extendedpink-50: rgba(253, 242, 248, 1);
  --extendedpink-500: rgba(236, 72, 153, 1);
  --extendedpink-600: rgba(219, 39, 119, 1);
  --extendedpink-700: rgba(190, 24, 93, 1);
  --extendedpink-800: rgba(157, 23, 77, 1);
  --extendedpink-900: rgba(131, 24, 67, 1);
  --extendedpurple-100: rgba(243, 232, 255, 1);
  --extendedpurple-200: rgba(233, 213, 255, 1);
  --extendedpurple-300: rgba(216, 180, 254, 1);
  --extendedpurple-400: rgba(192, 132, 252, 1);
  --extendedpurple-50: rgba(250, 245, 255, 1);
  --extendedpurple-500: rgba(168, 85, 247, 1);
  --extendedpurple-600: rgba(147, 51, 234, 1);
  --extendedpurple-700: rgba(126, 34, 206, 1);
  --extendedpurple-800: rgba(107, 33, 168, 1);
  --extendedpurple-900: rgba(88, 28, 135, 1);
  --extendedred-100: rgba(254, 226, 226, 1);
  --extendedred-200: rgba(254, 202, 202, 1);
  --extendedred-300: rgba(252, 165, 165, 1);
  --extendedred-400: rgba(248, 113, 113, 1);
  --extendedred-50: rgba(254, 242, 242, 1);
  --extendedred-500: rgba(239, 68, 68, 1);
  --extendedred-600: rgba(220, 38, 38, 1);
  --extendedred-700: rgba(185, 28, 28, 1);
  --extendedred-800: rgba(153, 27, 27, 1);
  --extendedred-900: rgba(127, 29, 29, 1);
  --extendedrose-100: rgba(255, 228, 230, 1);
  --extendedrose-200: rgba(254, 205, 211, 1);
  --extendedrose-300: rgba(253, 164, 175, 1);
  --extendedrose-400: rgba(251, 113, 133, 1);
  --extendedrose-50: rgba(255, 241, 242, 1);
  --extendedrose-500: rgba(244, 63, 94, 1);
  --extendedrose-600: rgba(225, 29, 72, 1);
  --extendedrose-700: rgba(190, 18, 60, 1);
  --extendedrose-800: rgba(159, 18, 57, 1);
  --extendedrose-900: rgba(136, 19, 55, 1);
  --extendedteal-100: rgba(204, 251, 241, 1);
  --extendedteal-200: rgba(153, 246, 228, 1);
  --extendedteal-300: rgba(94, 234, 212, 1);
  --extendedteal-400: rgba(45, 212, 191, 1);
  --extendedteal-50: rgba(240, 253, 250, 1);
  --extendedteal-500: rgba(20, 184, 166, 1);
  --extendedteal-600: rgba(13, 148, 136, 1);
  --extendedteal-700: rgba(15, 118, 110, 1);
  --extendedteal-800: rgba(17, 94, 89, 1);
  --extendedteal-900: rgba(19, 78, 74, 1);
  --extendedtrue-gray10: rgba(245, 245, 245, 1);
  --extendedtrue-gray200: rgba(229, 229, 229, 1);
  --extendedtrue-gray300: rgba(212, 212, 212, 1);
  --extendedtrue-gray400: rgba(163, 163, 163, 1);
  --extendedtrue-gray50: rgba(250, 250, 250, 1);
  --extendedtrue-gray500: rgba(115, 115, 115, 1);
  --extendedtrue-gray600: rgba(82, 82, 82, 1);
  --extendedtrue-gray700: rgba(64, 64, 64, 1);
  --extendedtrue-gray800: rgba(38, 38, 38, 1);
  --extendedtrue-gray900: rgba(23, 23, 23, 1);
  --extendedviolet-100: rgba(237, 233, 254, 1);
  --extendedviolet-200: rgba(221, 214, 254, 1);
  --extendedviolet-300: rgba(196, 181, 253, 1);
  --extendedviolet-400: rgba(167, 139, 250, 1);
  --extendedviolet-50: rgba(245, 243, 255, 1);
  --extendedviolet-500: rgba(139, 92, 246, 1);
  --extendedviolet-600: rgba(124, 58, 237, 1);
  --extendedviolet-700: rgba(109, 40, 217, 1);
  --extendedviolet-800: rgba(91, 33, 182, 1);
  --extendedviolet-900: rgba(76, 29, 149, 1);
  --extendedwarm-gray100: rgba(245, 245, 244, 1);
  --extendedwarm-gray200: rgba(231, 229, 228, 1);
  --extendedwarm-gray300: rgba(214, 211, 209, 1);
  --extendedwarm-gray400: rgba(168, 162, 158, 1);
  --extendedwarm-gray50: rgba(250, 250, 249, 1);
  --extendedwarm-gray500: rgba(120, 113, 108, 1);
  --extendedwarm-gray600: rgba(87, 83, 78, 1);
  --extendedwarm-gray700: rgba(68, 64, 60, 1);
  --extendedwarm-gray800: rgba(41, 37, 36, 1);
  --extendedwarm-gray900: rgba(28, 25, 23, 1);
  --extendedyellow-100: rgba(254, 249, 195, 1);
  --extendedyellow-200: rgba(254, 240, 138, 1);
  --extendedyellow-300: rgba(253, 224, 71, 1);
  --extendedyellow-400: rgba(250, 204, 21, 1);
  --extendedyellow-50: rgba(254, 252, 232, 1);
  --extendedyellow-500: rgba(234, 179, 8, 1);
  --extendedyellow-600: rgba(202, 138, 4, 1);
  --extendedyellow-700: rgba(161, 98, 7, 1);
  --extendedyellow-800: rgba(133, 77, 14, 1);
  --extendedyellow-900: rgba(113, 63, 18, 1);
  --highlight-shadow: 0px 0px 29px 0px rgba(190, 24, 93, 0.5);
  --primary-gradient-over-dark-background: rgba(15, 23, 42, 1);
  --shadow-2xl: 0px 25px 50px -12px rgba(0, 0, 0, 0.25);
  --shadow-base: 0px 1px 2px 0px rgba(0, 0, 0, 0.06), 0px 1px 3px 0px rgba(0, 0, 0, 0.1);
  --shadow-inner: ;
  --shadow-lg: 0px 4px 6px -2px rgba(0, 0, 0, 0.05), 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
  --shadow-md: 0px 2px 4px -1px rgba(0, 0, 0, 0.06), 0px 4px 6px -1px rgba(0, 0, 0, 0.1);
  --shadow-sm: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
  --shadow-xl: 0px 10px 10px -5px rgba(0, 0, 0, 0.04), 0px 20px 25px -5px rgba(0, 0, 0, 0.1);
  --text-2xl-leading-8-font-black-font-family: "Inter-Black", Helvetica;
  --text-2xl-leading-8-font-black-font-size: 24px;
  --text-2xl-leading-8-font-black-font-style: normal;
  --text-2xl-leading-8-font-black-font-weight: 900;
  --text-2xl-leading-8-font-black-letter-spacing: 0px;
  --text-2xl-leading-8-font-black-line-height: 32px;
  --text-2xl-leading-8-font-bold-font-family: "Inter-Bold", Helvetica;
  --text-2xl-leading-8-font-bold-font-size: 24px;
  --text-2xl-leading-8-font-bold-font-style: normal;
  --text-2xl-leading-8-font-bold-font-weight: 700;
  --text-2xl-leading-8-font-bold-letter-spacing: 0px;
  --text-2xl-leading-8-font-bold-line-height: 32px;
  --text-2xl-leading-8-font-extrabold-font-family: "Inter-ExtraBold", Helvetica;
  --text-2xl-leading-8-font-extrabold-font-size: 24px;
  --text-2xl-leading-8-font-extrabold-font-style: normal;
  --text-2xl-leading-8-font-extrabold-font-weight: 800;
  --text-2xl-leading-8-font-extrabold-letter-spacing: 0px;
  --text-2xl-leading-8-font-extrabold-line-height: 32px;
  --text-2xl-leading-8-font-extralight-font-family: "Inter-ExtraLight", Helvetica;
  --text-2xl-leading-8-font-extralight-font-size: 24px;
  --text-2xl-leading-8-font-extralight-font-style: normal;
  --text-2xl-leading-8-font-extralight-font-weight: 200;
  --text-2xl-leading-8-font-extralight-letter-spacing: 0px;
  --text-2xl-leading-8-font-extralight-line-height: 32px;
  --text-2xl-leading-8-font-light-font-family: "Inter-Light", Helvetica;
  --text-2xl-leading-8-font-light-font-size: 24px;
  --text-2xl-leading-8-font-light-font-style: normal;
  --text-2xl-leading-8-font-light-font-weight: 300;
  --text-2xl-leading-8-font-light-letter-spacing: 0px;
  --text-2xl-leading-8-font-light-line-height: 32px;
  --text-2xl-leading-8-font-medium-font-family: "Inter-Medium", Helvetica;
  --text-2xl-leading-8-font-medium-font-size: 24px;
  --text-2xl-leading-8-font-medium-font-style: normal;
  --text-2xl-leading-8-font-medium-font-weight: 500;
  --text-2xl-leading-8-font-medium-letter-spacing: 0px;
  --text-2xl-leading-8-font-medium-line-height: 32px;
  --text-2xl-leading-8-font-normal-font-family: "Inter-Regular", Helvetica;
  --text-2xl-leading-8-font-normal-font-size: 24px;
  --text-2xl-leading-8-font-normal-font-style: normal;
  --text-2xl-leading-8-font-normal-font-weight: 400;
  --text-2xl-leading-8-font-normal-letter-spacing: 0px;
  --text-2xl-leading-8-font-normal-line-height: 32px;
  --text-2xl-leading-8-font-semibold-font-family: "Inter-SemiBold", Helvetica;
  --text-2xl-leading-8-font-semibold-font-size: 24px;
  --text-2xl-leading-8-font-semibold-font-style: normal;
  --text-2xl-leading-8-font-semibold-font-weight: 600;
  --text-2xl-leading-8-font-semibold-letter-spacing: 0px;
  --text-2xl-leading-8-font-semibold-line-height: 32px;
  --text-3xl-leading-9-font-black-font-family: "Inter-Black", Helvetica;
  --text-3xl-leading-9-font-black-font-size: 30px;
  --text-3xl-leading-9-font-black-font-style: normal;
  --text-3xl-leading-9-font-black-font-weight: 900;
  --text-3xl-leading-9-font-black-letter-spacing: 0px;
  --text-3xl-leading-9-font-black-line-height: 36px;
  --text-3xl-leading-9-font-bold-font-family: "Inter-Bold", Helvetica;
  --text-3xl-leading-9-font-bold-font-size: 30px;
  --text-3xl-leading-9-font-bold-font-style: normal;
  --text-3xl-leading-9-font-bold-font-weight: 700;
  --text-3xl-leading-9-font-bold-letter-spacing: 0px;
  --text-3xl-leading-9-font-bold-line-height: 36px;
  --text-3xl-leading-9-font-extrabold-font-family: "Inter-ExtraBold", Helvetica;
  --text-3xl-leading-9-font-extrabold-font-size: 30px;
  --text-3xl-leading-9-font-extrabold-font-style: normal;
  --text-3xl-leading-9-font-extrabold-font-weight: 800;
  --text-3xl-leading-9-font-extrabold-letter-spacing: 0px;
  --text-3xl-leading-9-font-extrabold-line-height: 36px;
  --text-3xl-leading-9-font-extralight-font-family: "Inter-ExtraLight", Helvetica;
  --text-3xl-leading-9-font-extralight-font-size: 30px;
  --text-3xl-leading-9-font-extralight-font-style: normal;
  --text-3xl-leading-9-font-extralight-font-weight: 200;
  --text-3xl-leading-9-font-extralight-letter-spacing: 0px;
  --text-3xl-leading-9-font-extralight-line-height: 36px;
  --text-3xl-leading-9-font-light-font-family: "Inter-Light", Helvetica;
  --text-3xl-leading-9-font-light-font-size: 30px;
  --text-3xl-leading-9-font-light-font-style: normal;
  --text-3xl-leading-9-font-light-font-weight: 300;
  --text-3xl-leading-9-font-light-letter-spacing: 0px;
  --text-3xl-leading-9-font-light-line-height: 36px;
  --text-3xl-leading-9-font-medium-font-family: "Inter-Medium", Helvetica;
  --text-3xl-leading-9-font-medium-font-size: 30px;
  --text-3xl-leading-9-font-medium-font-style: normal;
  --text-3xl-leading-9-font-medium-font-weight: 500;
  --text-3xl-leading-9-font-medium-letter-spacing: 0px;
  --text-3xl-leading-9-font-medium-line-height: 36px;
  --text-3xl-leading-9-font-normal-font-family: "Inter-Regular", Helvetica;
  --text-3xl-leading-9-font-normal-font-size: 30px;
  --text-3xl-leading-9-font-normal-font-style: normal;
  --text-3xl-leading-9-font-normal-font-weight: 400;
  --text-3xl-leading-9-font-normal-letter-spacing: 0px;
  --text-3xl-leading-9-font-normal-line-height: 36px;
  --text-3xl-leading-9-font-semibold-font-family: "Inter-SemiBold", Helvetica;
  --text-3xl-leading-9-font-semibold-font-size: 30px;
  --text-3xl-leading-9-font-semibold-font-style: normal;
  --text-3xl-leading-9-font-semibold-font-weight: 600;
  --text-3xl-leading-9-font-semibold-letter-spacing: 0px;
  --text-3xl-leading-9-font-semibold-line-height: 36px;
  --text-4xl-leading-10-font-black-font-family: "Inter-Black", Helvetica;
  --text-4xl-leading-10-font-black-font-size: 36px;
  --text-4xl-leading-10-font-black-font-style: normal;
  --text-4xl-leading-10-font-black-font-weight: 900;
  --text-4xl-leading-10-font-black-letter-spacing: 0px;
  --text-4xl-leading-10-font-black-line-height: 40px;
  --text-4xl-leading-10-font-bold-font-family: "Inter-Bold", Helvetica;
  --text-4xl-leading-10-font-bold-font-size: 36px;
  --text-4xl-leading-10-font-bold-font-style: normal;
  --text-4xl-leading-10-font-bold-font-weight: 700;
  --text-4xl-leading-10-font-bold-letter-spacing: 0px;
  --text-4xl-leading-10-font-bold-line-height: 40px;
  --text-4xl-leading-10-font-extrabold-font-family: "Inter-ExtraBold", Helvetica;
  --text-4xl-leading-10-font-extrabold-font-size: 36px;
  --text-4xl-leading-10-font-extrabold-font-style: normal;
  --text-4xl-leading-10-font-extrabold-font-weight: 800;
  --text-4xl-leading-10-font-extrabold-letter-spacing: 0px;
  --text-4xl-leading-10-font-extrabold-line-height: 40px;
  --text-4xl-leading-10-font-extralight-font-family: "Inter-ExtraLight", Helvetica;
  --text-4xl-leading-10-font-extralight-font-size: 36px;
  --text-4xl-leading-10-font-extralight-font-style: normal;
  --text-4xl-leading-10-font-extralight-font-weight: 200;
  --text-4xl-leading-10-font-extralight-letter-spacing: 0px;
  --text-4xl-leading-10-font-extralight-line-height: 40px;
  --text-4xl-leading-10-font-light-font-family: "Inter-Light", Helvetica;
  --text-4xl-leading-10-font-light-font-size: 36px;
  --text-4xl-leading-10-font-light-font-style: normal;
  --text-4xl-leading-10-font-light-font-weight: 300;
  --text-4xl-leading-10-font-light-letter-spacing: 0px;
  --text-4xl-leading-10-font-light-line-height: 40px;
  --text-4xl-leading-10-font-medium-font-family: "Inter-Medium", Helvetica;
  --text-4xl-leading-10-font-medium-font-size: 36px;
  --text-4xl-leading-10-font-medium-font-style: normal;
  --text-4xl-leading-10-font-medium-font-weight: 500;
  --text-4xl-leading-10-font-medium-letter-spacing: 0px;
  --text-4xl-leading-10-font-medium-line-height: 40px;
  --text-4xl-leading-10-font-normal-font-family: "Inter-Regular", Helvetica;
  --text-4xl-leading-10-font-normal-font-size: 36px;
  --text-4xl-leading-10-font-normal-font-style: normal;
  --text-4xl-leading-10-font-normal-font-weight: 400;
  --text-4xl-leading-10-font-normal-letter-spacing: 0px;
  --text-4xl-leading-10-font-normal-line-height: 40px;
  --text-4xl-leading-10-font-semibold-font-family: "Inter-SemiBold", Helvetica;
  --text-4xl-leading-10-font-semibold-font-size: 36px;
  --text-4xl-leading-10-font-semibold-font-style: normal;
  --text-4xl-leading-10-font-semibold-font-weight: 600;
  --text-4xl-leading-10-font-semibold-letter-spacing: 0px;
  --text-4xl-leading-10-font-semibold-line-height: 40px;
  --text-5xl-leading-none-font-black-font-family: "Inter-Black", Helvetica;
  --text-5xl-leading-none-font-black-font-size: 48px;
  --text-5xl-leading-none-font-black-font-style: normal;
  --text-5xl-leading-none-font-black-font-weight: 900;
  --text-5xl-leading-none-font-black-letter-spacing: 0px;
  --text-5xl-leading-none-font-black-line-height: 48px;
  --text-5xl-leading-none-font-bold-font-family: "Inter-Bold", Helvetica;
  --text-5xl-leading-none-font-bold-font-size: 48px;
  --text-5xl-leading-none-font-bold-font-style: normal;
  --text-5xl-leading-none-font-bold-font-weight: 700;
  --text-5xl-leading-none-font-bold-letter-spacing: 0px;
  --text-5xl-leading-none-font-bold-line-height: 48px;
  --text-5xl-leading-none-font-extrabold-font-family: "Inter-ExtraBold", Helvetica;
  --text-5xl-leading-none-font-extrabold-font-size: 48px;
  --text-5xl-leading-none-font-extrabold-font-style: normal;
  --text-5xl-leading-none-font-extrabold-font-weight: 800;
  --text-5xl-leading-none-font-extrabold-letter-spacing: 0px;
  --text-5xl-leading-none-font-extrabold-line-height: 48px;
  --text-5xl-leading-none-font-extralight-font-family: "Inter-ExtraLight", Helvetica;
  --text-5xl-leading-none-font-extralight-font-size: 48px;
  --text-5xl-leading-none-font-extralight-font-style: normal;
  --text-5xl-leading-none-font-extralight-font-weight: 200;
  --text-5xl-leading-none-font-extralight-letter-spacing: 0px;
  --text-5xl-leading-none-font-extralight-line-height: 48px;
  --text-5xl-leading-none-font-light-font-family: "Inter-Light", Helvetica;
  --text-5xl-leading-none-font-light-font-size: 48px;
  --text-5xl-leading-none-font-light-font-style: normal;
  --text-5xl-leading-none-font-light-font-weight: 300;
  --text-5xl-leading-none-font-light-letter-spacing: 0px;
  --text-5xl-leading-none-font-light-line-height: 48px;
  --text-5xl-leading-none-font-medium-font-family: "Inter-Medium", Helvetica;
  --text-5xl-leading-none-font-medium-font-size: 48px;
  --text-5xl-leading-none-font-medium-font-style: normal;
  --text-5xl-leading-none-font-medium-font-weight: 500;
  --text-5xl-leading-none-font-medium-letter-spacing: 0px;
  --text-5xl-leading-none-font-medium-line-height: 48px;
  --text-5xl-leading-none-font-normal-font-family: "Inter-Regular", Helvetica;
  --text-5xl-leading-none-font-normal-font-size: 48px;
  --text-5xl-leading-none-font-normal-font-style: normal;
  --text-5xl-leading-none-font-normal-font-weight: 400;
  --text-5xl-leading-none-font-normal-letter-spacing: 0px;
  --text-5xl-leading-none-font-normal-line-height: 48px;
  --text-5xl-leading-none-font-semibold-font-family: "Inter-SemiBold", Helvetica;
  --text-5xl-leading-none-font-semibold-font-size: 48px;
  --text-5xl-leading-none-font-semibold-font-style: normal;
  --text-5xl-leading-none-font-semibold-font-weight: 600;
  --text-5xl-leading-none-font-semibold-letter-spacing: 0px;
  --text-5xl-leading-none-font-semibold-line-height: 48px;
  --text-5xl-leading-none-font-thin-font-family: "Inter-Thin", Helvetica;
  --text-5xl-leading-none-font-thin-font-size: 48px;
  --text-5xl-leading-none-font-thin-font-style: normal;
  --text-5xl-leading-none-font-thin-font-weight: 100;
  --text-5xl-leading-none-font-thin-letter-spacing: 0px;
  --text-5xl-leading-none-font-thin-line-height: 48px;
  --text-6xl-leading-none-font-black-font-family: "Inter-Black", Helvetica;
  --text-6xl-leading-none-font-black-font-size: 60px;
  --text-6xl-leading-none-font-black-font-style: normal;
  --text-6xl-leading-none-font-black-font-weight: 900;
  --text-6xl-leading-none-font-black-letter-spacing: 0px;
  --text-6xl-leading-none-font-black-line-height: 60px;
  --text-6xl-leading-none-font-bold-font-family: "Inter-Bold", Helvetica;
  --text-6xl-leading-none-font-bold-font-size: 60px;
  --text-6xl-leading-none-font-bold-font-style: normal;
  --text-6xl-leading-none-font-bold-font-weight: 700;
  --text-6xl-leading-none-font-bold-letter-spacing: 0px;
  --text-6xl-leading-none-font-bold-line-height: 60px;
  --text-6xl-leading-none-font-extrabold-font-family: "Inter-ExtraBold", Helvetica;
  --text-6xl-leading-none-font-extrabold-font-size: 60px;
  --text-6xl-leading-none-font-extrabold-font-style: normal;
  --text-6xl-leading-none-font-extrabold-font-weight: 800;
  --text-6xl-leading-none-font-extrabold-letter-spacing: 0px;
  --text-6xl-leading-none-font-extrabold-line-height: 60px;
  --text-6xl-leading-none-font-extralight-font-family: "Inter-ExtraLight", Helvetica;
  --text-6xl-leading-none-font-extralight-font-size: 60px;
  --text-6xl-leading-none-font-extralight-font-style: normal;
  --text-6xl-leading-none-font-extralight-font-weight: 200;
  --text-6xl-leading-none-font-extralight-letter-spacing: 0px;
  --text-6xl-leading-none-font-extralight-line-height: 60px;
  --text-6xl-leading-none-font-light-font-family: "Inter-Light", Helvetica;
  --text-6xl-leading-none-font-light-font-size: 60px;
  --text-6xl-leading-none-font-light-font-style: normal;
  --text-6xl-leading-none-font-light-font-weight: 300;
  --text-6xl-leading-none-font-light-letter-spacing: 0px;
  --text-6xl-leading-none-font-light-line-height: 60px;
  --text-6xl-leading-none-font-medium-font-family: "Inter-Medium", Helvetica;
  --text-6xl-leading-none-font-medium-font-size: 60px;
  --text-6xl-leading-none-font-medium-font-style: normal;
  --text-6xl-leading-none-font-medium-font-weight: 500;
  --text-6xl-leading-none-font-medium-letter-spacing: 0px;
  --text-6xl-leading-none-font-medium-line-height: 60px;
  --text-6xl-leading-none-font-normal-font-family: "Inter-Regular", Helvetica;
  --text-6xl-leading-none-font-normal-font-size: 60px;
  --text-6xl-leading-none-font-normal-font-style: normal;
  --text-6xl-leading-none-font-normal-font-weight: 400;
  --text-6xl-leading-none-font-normal-letter-spacing: 0px;
  --text-6xl-leading-none-font-normal-line-height: 60px;
  --text-6xl-leading-none-font-semibold-font-family: "Inter-SemiBold", Helvetica;
  --text-6xl-leading-none-font-semibold-font-size: 60px;
  --text-6xl-leading-none-font-semibold-font-style: normal;
  --text-6xl-leading-none-font-semibold-font-weight: 600;
  --text-6xl-leading-none-font-semibold-letter-spacing: 0px;
  --text-6xl-leading-none-font-semibold-line-height: 60px;
  --text-6xl-leading-none-font-thin-font-family: "Inter-Thin", Helvetica;
  --text-6xl-leading-none-font-thin-font-size: 60px;
  --text-6xl-leading-none-font-thin-font-style: normal;
  --text-6xl-leading-none-font-thin-font-weight: 100;
  --text-6xl-leading-none-font-thin-letter-spacing: 0px;
  --text-6xl-leading-none-font-thin-line-height: 60px;
  --text-7xl-leading-none-font-black-font-family: "Inter-Black", Helvetica;
  --text-7xl-leading-none-font-black-font-size: 72px;
  --text-7xl-leading-none-font-black-font-style: normal;
  --text-7xl-leading-none-font-black-font-weight: 900;
  --text-7xl-leading-none-font-black-letter-spacing: 0px;
  --text-7xl-leading-none-font-black-line-height: 72px;
  --text-7xl-leading-none-font-bold-font-family: "Inter-Bold", Helvetica;
  --text-7xl-leading-none-font-bold-font-size: 72px;
  --text-7xl-leading-none-font-bold-font-style: normal;
  --text-7xl-leading-none-font-bold-font-weight: 700;
  --text-7xl-leading-none-font-bold-letter-spacing: 0px;
  --text-7xl-leading-none-font-bold-line-height: 72px;
  --text-7xl-leading-none-font-extrabold-font-family: "Inter-ExtraBold", Helvetica;
  --text-7xl-leading-none-font-extrabold-font-size: 72px;
  --text-7xl-leading-none-font-extrabold-font-style: normal;
  --text-7xl-leading-none-font-extrabold-font-weight: 800;
  --text-7xl-leading-none-font-extrabold-letter-spacing: 0px;
  --text-7xl-leading-none-font-extrabold-line-height: 72px;
  --text-7xl-leading-none-font-extralight-font-family: "Inter-ExtraLight", Helvetica;
  --text-7xl-leading-none-font-extralight-font-size: 72px;
  --text-7xl-leading-none-font-extralight-font-style: normal;
  --text-7xl-leading-none-font-extralight-font-weight: 200;
  --text-7xl-leading-none-font-extralight-letter-spacing: 0px;
  --text-7xl-leading-none-font-extralight-line-height: 72px;
  --text-7xl-leading-none-font-light-font-family: "Inter-Light", Helvetica;
  --text-7xl-leading-none-font-light-font-size: 72px;
  --text-7xl-leading-none-font-light-font-style: normal;
  --text-7xl-leading-none-font-light-font-weight: 300;
  --text-7xl-leading-none-font-light-letter-spacing: 0px;
  --text-7xl-leading-none-font-light-line-height: 72px;
  --text-7xl-leading-none-font-medium-font-family: "Inter-Medium", Helvetica;
  --text-7xl-leading-none-font-medium-font-size: 72px;
  --text-7xl-leading-none-font-medium-font-style: normal;
  --text-7xl-leading-none-font-medium-font-weight: 500;
  --text-7xl-leading-none-font-medium-letter-spacing: 0px;
  --text-7xl-leading-none-font-medium-line-height: 72px;
  --text-7xl-leading-none-font-normal-font-family: "Inter-Regular", Helvetica;
  --text-7xl-leading-none-font-normal-font-size: 72px;
  --text-7xl-leading-none-font-normal-font-style: normal;
  --text-7xl-leading-none-font-normal-font-weight: 400;
  --text-7xl-leading-none-font-normal-letter-spacing: 0px;
  --text-7xl-leading-none-font-normal-line-height: 72px;
  --text-7xl-leading-none-font-semibold-font-family: "Inter-SemiBold", Helvetica;
  --text-7xl-leading-none-font-semibold-font-size: 72px;
  --text-7xl-leading-none-font-semibold-font-style: normal;
  --text-7xl-leading-none-font-semibold-font-weight: 600;
  --text-7xl-leading-none-font-semibold-letter-spacing: 0px;
  --text-7xl-leading-none-font-semibold-line-height: 72px;
  --text-7xl-leading-none-font-thin-font-family: "Inter-Thin", Helvetica;
  --text-7xl-leading-none-font-thin-font-size: 72px;
  --text-7xl-leading-none-font-thin-font-style: normal;
  --text-7xl-leading-none-font-thin-font-weight: 100;
  --text-7xl-leading-none-font-thin-letter-spacing: 0px;
  --text-7xl-leading-none-font-thin-line-height: 72px;
  --text-8xl-leading-none-font-black-font-family: "Inter-Black", Helvetica;
  --text-8xl-leading-none-font-black-font-size: 96px;
  --text-8xl-leading-none-font-black-font-style: normal;
  --text-8xl-leading-none-font-black-font-weight: 900;
  --text-8xl-leading-none-font-black-letter-spacing: 0px;
  --text-8xl-leading-none-font-black-line-height: 96px;
  --text-8xl-leading-none-font-bold-font-family: "Inter-Bold", Helvetica;
  --text-8xl-leading-none-font-bold-font-size: 96px;
  --text-8xl-leading-none-font-bold-font-style: normal;
  --text-8xl-leading-none-font-bold-font-weight: 700;
  --text-8xl-leading-none-font-bold-letter-spacing: 0px;
  --text-8xl-leading-none-font-bold-line-height: 96px;
  --text-8xl-leading-none-font-extrabold-font-family: "Inter-ExtraBold", Helvetica;
  --text-8xl-leading-none-font-extrabold-font-size: 96px;
  --text-8xl-leading-none-font-extrabold-font-style: normal;
  --text-8xl-leading-none-font-extrabold-font-weight: 800;
  --text-8xl-leading-none-font-extrabold-letter-spacing: 0px;
  --text-8xl-leading-none-font-extrabold-line-height: 96px;
  --text-8xl-leading-none-font-extralight-font-family: "Inter-ExtraLight", Helvetica;
  --text-8xl-leading-none-font-extralight-font-size: 96px;
  --text-8xl-leading-none-font-extralight-font-style: normal;
  --text-8xl-leading-none-font-extralight-font-weight: 200;
  --text-8xl-leading-none-font-extralight-letter-spacing: 0px;
  --text-8xl-leading-none-font-extralight-line-height: 96px;
  --text-8xl-leading-none-font-light-font-family: "Inter-Light", Helvetica;
  --text-8xl-leading-none-font-light-font-size: 96px;
  --text-8xl-leading-none-font-light-font-style: normal;
  --text-8xl-leading-none-font-light-font-weight: 300;
  --text-8xl-leading-none-font-light-letter-spacing: 0px;
  --text-8xl-leading-none-font-light-line-height: 96px;
  --text-8xl-leading-none-font-medium-font-family: "Inter-Medium", Helvetica;
  --text-8xl-leading-none-font-medium-font-size: 96px;
  --text-8xl-leading-none-font-medium-font-style: normal;
  --text-8xl-leading-none-font-medium-font-weight: 500;
  --text-8xl-leading-none-font-medium-letter-spacing: 0px;
  --text-8xl-leading-none-font-medium-line-height: 96px;
  --text-8xl-leading-none-font-normal-font-family: "Inter-Regular", Helvetica;
  --text-8xl-leading-none-font-normal-font-size: 96px;
  --text-8xl-leading-none-font-normal-font-style: normal;
  --text-8xl-leading-none-font-normal-font-weight: 400;
  --text-8xl-leading-none-font-normal-letter-spacing: 0px;
  --text-8xl-leading-none-font-normal-line-height: 96px;
  --text-8xl-leading-none-font-semibold-font-family: "Inter-SemiBold", Helvetica;
  --text-8xl-leading-none-font-semibold-font-size: 96px;
  --text-8xl-leading-none-font-semibold-font-style: normal;
  --text-8xl-leading-none-font-semibold-font-weight: 600;
  --text-8xl-leading-none-font-semibold-letter-spacing: 0px;
  --text-8xl-leading-none-font-semibold-line-height: 96px;
  --text-8xl-leading-none-font-thin-font-family: "Inter-Thin", Helvetica;
  --text-8xl-leading-none-font-thin-font-size: 96px;
  --text-8xl-leading-none-font-thin-font-style: normal;
  --text-8xl-leading-none-font-thin-font-weight: 100;
  --text-8xl-leading-none-font-thin-letter-spacing: 0px;
  --text-8xl-leading-none-font-thin-line-height: 96px;
  --text-9xl-leading-none-font-black-font-family: "Inter-Black", Helvetica;
  --text-9xl-leading-none-font-black-font-size: 128px;
  --text-9xl-leading-none-font-black-font-style: normal;
  --text-9xl-leading-none-font-black-font-weight: 900;
  --text-9xl-leading-none-font-black-letter-spacing: 0px;
  --text-9xl-leading-none-font-black-line-height: 128px;
  --text-9xl-leading-none-font-bold-font-family: "Inter-Bold", Helvetica;
  --text-9xl-leading-none-font-bold-font-size: 128px;
  --text-9xl-leading-none-font-bold-font-style: normal;
  --text-9xl-leading-none-font-bold-font-weight: 700;
  --text-9xl-leading-none-font-bold-letter-spacing: 0px;
  --text-9xl-leading-none-font-bold-line-height: 128px;
  --text-9xl-leading-none-font-extrabold-font-family: "Inter-ExtraBold", Helvetica;
  --text-9xl-leading-none-font-extrabold-font-size: 128px;
  --text-9xl-leading-none-font-extrabold-font-style: normal;
  --text-9xl-leading-none-font-extrabold-font-weight: 800;
  --text-9xl-leading-none-font-extrabold-letter-spacing: 0px;
  --text-9xl-leading-none-font-extrabold-line-height: 128px;
  --text-9xl-leading-none-font-extralight-font-family: "Inter-ExtraLight", Helvetica;
  --text-9xl-leading-none-font-extralight-font-size: 128px;
  --text-9xl-leading-none-font-extralight-font-style: normal;
  --text-9xl-leading-none-font-extralight-font-weight: 200;
  --text-9xl-leading-none-font-extralight-letter-spacing: 0px;
  --text-9xl-leading-none-font-extralight-line-height: 128px;
  --text-9xl-leading-none-font-light-font-family: "Inter-Light", Helvetica;
  --text-9xl-leading-none-font-light-font-size: 128px;
  --text-9xl-leading-none-font-light-font-style: normal;
  --text-9xl-leading-none-font-light-font-weight: 300;
  --text-9xl-leading-none-font-light-letter-spacing: 0px;
  --text-9xl-leading-none-font-light-line-height: 128px;
  --text-9xl-leading-none-font-medium-font-family: "Inter-Medium", Helvetica;
  --text-9xl-leading-none-font-medium-font-size: 128px;
  --text-9xl-leading-none-font-medium-font-style: normal;
  --text-9xl-leading-none-font-medium-font-weight: 500;
  --text-9xl-leading-none-font-medium-letter-spacing: 0px;
  --text-9xl-leading-none-font-medium-line-height: 128px;
  --text-9xl-leading-none-font-normal-font-family: "Inter-Regular", Helvetica;
  --text-9xl-leading-none-font-normal-font-size: 128px;
  --text-9xl-leading-none-font-normal-font-style: normal;
  --text-9xl-leading-none-font-normal-font-weight: 400;
  --text-9xl-leading-none-font-normal-letter-spacing: 0px;
  --text-9xl-leading-none-font-normal-line-height: 128px;
  --text-9xl-leading-none-font-semibold-font-family: "Inter-SemiBold", Helvetica;
  --text-9xl-leading-none-font-semibold-font-size: 128px;
  --text-9xl-leading-none-font-semibold-font-style: normal;
  --text-9xl-leading-none-font-semibold-font-weight: 600;
  --text-9xl-leading-none-font-semibold-letter-spacing: 0px;
  --text-9xl-leading-none-font-semibold-line-height: 128px;
  --text-9xl-leading-none-font-thin-font-family: "Inter-Thin", Helvetica;
  --text-9xl-leading-none-font-thin-font-size: 128px;
  --text-9xl-leading-none-font-thin-font-style: normal;
  --text-9xl-leading-none-font-thin-font-weight: 100;
  --text-9xl-leading-none-font-thin-letter-spacing: 0px;
  --text-9xl-leading-none-font-thin-line-height: 128px;
  --text-base-leading-6-font-black-font-family: "Inter-Black", Helvetica;
  --text-base-leading-6-font-black-font-size: 16px;
  --text-base-leading-6-font-black-font-style: normal;
  --text-base-leading-6-font-black-font-weight: 900;
  --text-base-leading-6-font-black-letter-spacing: 0px;
  --text-base-leading-6-font-black-line-height: 24px;
  --text-base-leading-6-font-bold-font-family: "Inter-Bold", Helvetica;
  --text-base-leading-6-font-bold-font-size: 16px;
  --text-base-leading-6-font-bold-font-style: normal;
  --text-base-leading-6-font-bold-font-weight: 700;
  --text-base-leading-6-font-bold-letter-spacing: 0px;
  --text-base-leading-6-font-bold-line-height: 24px;
  --text-base-leading-6-font-extrabold-font-family: "Inter-ExtraBold", Helvetica;
  --text-base-leading-6-font-extrabold-font-size: 16px;
  --text-base-leading-6-font-extrabold-font-style: normal;
  --text-base-leading-6-font-extrabold-font-weight: 800;
  --text-base-leading-6-font-extrabold-letter-spacing: 0px;
  --text-base-leading-6-font-extrabold-line-height: 24px;
  --text-base-leading-6-font-light-font-family: "Inter-Light", Helvetica;
  --text-base-leading-6-font-light-font-size: 16px;
  --text-base-leading-6-font-light-font-style: normal;
  --text-base-leading-6-font-light-font-weight: 300;
  --text-base-leading-6-font-light-letter-spacing: 0px;
  --text-base-leading-6-font-light-line-height: 24px;
  --text-base-leading-6-font-medium-font-family: "Inter-Medium", Helvetica;
  --text-base-leading-6-font-medium-font-size: 16px;
  --text-base-leading-6-font-medium-font-style: normal;
  --text-base-leading-6-font-medium-font-weight: 500;
  --text-base-leading-6-font-medium-letter-spacing: 0px;
  --text-base-leading-6-font-medium-line-height: 24px;
  --text-base-leading-6-font-normal-font-family: "Inter-Regular", Helvetica;
  --text-base-leading-6-font-normal-font-size: 16px;
  --text-base-leading-6-font-normal-font-style: normal;
  --text-base-leading-6-font-normal-font-weight: 400;
  --text-base-leading-6-font-normal-letter-spacing: 0px;
  --text-base-leading-6-font-normal-line-height: 24px;
  --text-base-leading-6-font-semibold-font-family: "Inter-SemiBold", Helvetica;
  --text-base-leading-6-font-semibold-font-size: 16px;
  --text-base-leading-6-font-semibold-font-style: normal;
  --text-base-leading-6-font-semibold-font-weight: 600;
  --text-base-leading-6-font-semibold-letter-spacing: 0px;
  --text-base-leading-6-font-semibold-line-height: 24px;
  --text-lg-leading-7-font-black-font-family: "Inter-Black", Helvetica;
  --text-lg-leading-7-font-black-font-size: 18px;
  --text-lg-leading-7-font-black-font-style: normal;
  --text-lg-leading-7-font-black-font-weight: 900;
  --text-lg-leading-7-font-black-letter-spacing: 0px;
  --text-lg-leading-7-font-black-line-height: 28px;
  --text-lg-leading-7-font-bold-font-family: "Inter-Bold", Helvetica;
  --text-lg-leading-7-font-bold-font-size: 18px;
  --text-lg-leading-7-font-bold-font-style: normal;
  --text-lg-leading-7-font-bold-font-weight: 700;
  --text-lg-leading-7-font-bold-letter-spacing: 0px;
  --text-lg-leading-7-font-bold-line-height: 28px;
  --text-lg-leading-7-font-extrabold-font-family: "Inter-ExtraBold", Helvetica;
  --text-lg-leading-7-font-extrabold-font-size: 18px;
  --text-lg-leading-7-font-extrabold-font-style: normal;
  --text-lg-leading-7-font-extrabold-font-weight: 800;
  --text-lg-leading-7-font-extrabold-letter-spacing: 0px;
  --text-lg-leading-7-font-extrabold-line-height: 28px;
  --text-lg-leading-7-font-extralight-font-family: "Inter-ExtraLight", Helvetica;
  --text-lg-leading-7-font-extralight-font-size: 18px;
  --text-lg-leading-7-font-extralight-font-style: normal;
  --text-lg-leading-7-font-extralight-font-weight: 200;
  --text-lg-leading-7-font-extralight-letter-spacing: 0px;
  --text-lg-leading-7-font-extralight-line-height: 28px;
  --text-lg-leading-7-font-light-font-family: "Inter-Light", Helvetica;
  --text-lg-leading-7-font-light-font-size: 18px;
  --text-lg-leading-7-font-light-font-style: normal;
  --text-lg-leading-7-font-light-font-weight: 300;
  --text-lg-leading-7-font-light-letter-spacing: 0px;
  --text-lg-leading-7-font-light-line-height: 28px;
  --text-lg-leading-7-font-medium-font-family: "Inter-Medium", Helvetica;
  --text-lg-leading-7-font-medium-font-size: 18px;
  --text-lg-leading-7-font-medium-font-style: normal;
  --text-lg-leading-7-font-medium-font-weight: 500;
  --text-lg-leading-7-font-medium-letter-spacing: 0px;
  --text-lg-leading-7-font-medium-line-height: 28px;
  --text-lg-leading-7-font-normal-font-family: "Inter-Regular", Helvetica;
  --text-lg-leading-7-font-normal-font-size: 18px;
  --text-lg-leading-7-font-normal-font-style: normal;
  --text-lg-leading-7-font-normal-font-weight: 400;
  --text-lg-leading-7-font-normal-letter-spacing: 0px;
  --text-lg-leading-7-font-normal-line-height: 28px;
  --text-lg-leading-7-font-semibold-font-family: "Inter-SemiBold", Helvetica;
  --text-lg-leading-7-font-semibold-font-size: 18px;
  --text-lg-leading-7-font-semibold-font-style: normal;
  --text-lg-leading-7-font-semibold-font-weight: 600;
  --text-lg-leading-7-font-semibold-letter-spacing: 0px;
  --text-lg-leading-7-font-semibold-line-height: 28px;
  --text-sm-leading-5-font-black-font-family: "Inter-Black", Helvetica;
  --text-sm-leading-5-font-black-font-size: 14px;
  --text-sm-leading-5-font-black-font-style: normal;
  --text-sm-leading-5-font-black-font-weight: 900;
  --text-sm-leading-5-font-black-letter-spacing: 0px;
  --text-sm-leading-5-font-black-line-height: 20px;
  --text-sm-leading-5-font-bold-font-family: "Inter-Bold", Helvetica;
  --text-sm-leading-5-font-bold-font-size: 14px;
  --text-sm-leading-5-font-bold-font-style: normal;
  --text-sm-leading-5-font-bold-font-weight: 700;
  --text-sm-leading-5-font-bold-letter-spacing: 0px;
  --text-sm-leading-5-font-bold-line-height: 20px;
  --text-sm-leading-5-font-extrabold-font-family: "Inter-ExtraBold", Helvetica;
  --text-sm-leading-5-font-extrabold-font-size: 14px;
  --text-sm-leading-5-font-extrabold-font-style: normal;
  --text-sm-leading-5-font-extrabold-font-weight: 800;
  --text-sm-leading-5-font-extrabold-letter-spacing: 0px;
  --text-sm-leading-5-font-extrabold-line-height: 20px;
  --text-sm-leading-5-font-light-font-family: "Inter-Light", Helvetica;
  --text-sm-leading-5-font-light-font-size: 14px;
  --text-sm-leading-5-font-light-font-style: normal;
  --text-sm-leading-5-font-light-font-weight: 300;
  --text-sm-leading-5-font-light-letter-spacing: 0px;
  --text-sm-leading-5-font-light-line-height: 20px;
  --text-sm-leading-5-font-medium-font-family: "Inter-Medium", Helvetica;
  --text-sm-leading-5-font-medium-font-size: 14px;
  --text-sm-leading-5-font-medium-font-style: normal;
  --text-sm-leading-5-font-medium-font-weight: 500;
  --text-sm-leading-5-font-medium-letter-spacing: 0px;
  --text-sm-leading-5-font-medium-line-height: 20px;
  --text-sm-leading-5-font-normal-font-family: "Inter-Regular", Helvetica;
  --text-sm-leading-5-font-normal-font-size: 14px;
  --text-sm-leading-5-font-normal-font-style: normal;
  --text-sm-leading-5-font-normal-font-weight: 400;
  --text-sm-leading-5-font-normal-letter-spacing: 0px;
  --text-sm-leading-5-font-normal-line-height: 20px;
  --text-sm-leading-5-font-semibold-font-family: "Inter-SemiBold", Helvetica;
  --text-sm-leading-5-font-semibold-font-size: 14px;
  --text-sm-leading-5-font-semibold-font-style: normal;
  --text-sm-leading-5-font-semibold-font-weight: 600;
  --text-sm-leading-5-font-semibold-letter-spacing: 0px;
  --text-sm-leading-5-font-semibold-line-height: 20px;
  --text-xl-leading-7-font-black-font-family: "Inter-Black", Helvetica;
  --text-xl-leading-7-font-black-font-size: 20px;
  --text-xl-leading-7-font-black-font-style: normal;
  --text-xl-leading-7-font-black-font-weight: 900;
  --text-xl-leading-7-font-black-letter-spacing: 0px;
  --text-xl-leading-7-font-black-line-height: 28px;
  --text-xl-leading-7-font-bold-font-family: "Inter-Bold", Helvetica;
  --text-xl-leading-7-font-bold-font-size: 20px;
  --text-xl-leading-7-font-bold-font-style: normal;
  --text-xl-leading-7-font-bold-font-weight: 700;
  --text-xl-leading-7-font-bold-letter-spacing: 0px;
  --text-xl-leading-7-font-bold-line-height: 28px;
  --text-xl-leading-7-font-extrabold-font-family: "Inter-ExtraBold", Helvetica;
  --text-xl-leading-7-font-extrabold-font-size: 20px;
  --text-xl-leading-7-font-extrabold-font-style: normal;
  --text-xl-leading-7-font-extrabold-font-weight: 800;
  --text-xl-leading-7-font-extrabold-letter-spacing: 0px;
  --text-xl-leading-7-font-extrabold-line-height: 28px;
  --text-xl-leading-7-font-extralight-font-family: "Inter-ExtraLight", Helvetica;
  --text-xl-leading-7-font-extralight-font-size: 20px;
  --text-xl-leading-7-font-extralight-font-style: normal;
  --text-xl-leading-7-font-extralight-font-weight: 200;
  --text-xl-leading-7-font-extralight-letter-spacing: 0px;
  --text-xl-leading-7-font-extralight-line-height: 28px;
  --text-xl-leading-7-font-light-font-family: "Inter-Light", Helvetica;
  --text-xl-leading-7-font-light-font-size: 20px;
  --text-xl-leading-7-font-light-font-style: normal;
  --text-xl-leading-7-font-light-font-weight: 300;
  --text-xl-leading-7-font-light-letter-spacing: 0px;
  --text-xl-leading-7-font-light-line-height: 28px;
  --text-xl-leading-7-font-medium-font-family: "Inter-Medium", Helvetica;
  --text-xl-leading-7-font-medium-font-size: 20px;
  --text-xl-leading-7-font-medium-font-style: normal;
  --text-xl-leading-7-font-medium-font-weight: 500;
  --text-xl-leading-7-font-medium-letter-spacing: 0px;
  --text-xl-leading-7-font-medium-line-height: 28px;
  --text-xl-leading-7-font-normal-font-family: "Inter-Regular", Helvetica;
  --text-xl-leading-7-font-normal-font-size: 20px;
  --text-xl-leading-7-font-normal-font-style: normal;
  --text-xl-leading-7-font-normal-font-weight: 400;
  --text-xl-leading-7-font-normal-letter-spacing: 0px;
  --text-xl-leading-7-font-normal-line-height: 28px;
  --text-xl-leading-7-font-semibold-font-family: "Inter-SemiBold", Helvetica;
  --text-xl-leading-7-font-semibold-font-size: 20px;
  --text-xl-leading-7-font-semibold-font-style: normal;
  --text-xl-leading-7-font-semibold-font-weight: 600;
  --text-xl-leading-7-font-semibold-letter-spacing: 0px;
  --text-xl-leading-7-font-semibold-line-height: 28px;
  --text-xs-leading-4-font-black-font-family: "Inter-Black", Helvetica;
  --text-xs-leading-4-font-black-font-size: 12px;
  --text-xs-leading-4-font-black-font-style: normal;
  --text-xs-leading-4-font-black-font-weight: 900;
  --text-xs-leading-4-font-black-letter-spacing: 0px;
  --text-xs-leading-4-font-black-line-height: 16px;
  --text-xs-leading-4-font-bold-font-family: "Inter-Bold", Helvetica;
  --text-xs-leading-4-font-bold-font-size: 12px;
  --text-xs-leading-4-font-bold-font-style: normal;
  --text-xs-leading-4-font-bold-font-weight: 700;
  --text-xs-leading-4-font-bold-letter-spacing: 0px;
  --text-xs-leading-4-font-bold-line-height: 16px;
  --text-xs-leading-4-font-extrabold-font-family: "Inter-ExtraBold", Helvetica;
  --text-xs-leading-4-font-extrabold-font-size: 12px;
  --text-xs-leading-4-font-extrabold-font-style: normal;
  --text-xs-leading-4-font-extrabold-font-weight: 800;
  --text-xs-leading-4-font-extrabold-letter-spacing: 0px;
  --text-xs-leading-4-font-extrabold-line-height: 16px;
  --text-xs-leading-4-font-medium-font-family: "Inter-Medium", Helvetica;
  --text-xs-leading-4-font-medium-font-size: 12px;
  --text-xs-leading-4-font-medium-font-style: normal;
  --text-xs-leading-4-font-medium-font-weight: 500;
  --text-xs-leading-4-font-medium-letter-spacing: 0px;
  --text-xs-leading-4-font-medium-line-height: 16px;
  --text-xs-leading-4-font-normal-font-family: "Inter-Regular", Helvetica;
  --text-xs-leading-4-font-normal-font-size: 12px;
  --text-xs-leading-4-font-normal-font-style: normal;
  --text-xs-leading-4-font-normal-font-weight: 400;
  --text-xs-leading-4-font-normal-letter-spacing: 0px;
  --text-xs-leading-4-font-normal-line-height: 16px;
  --text-xs-leading-4-font-semibold-font-family: "Inter-SemiBold", Helvetica;
  --text-xs-leading-4-font-semibold-font-size: 12px;
  --text-xs-leading-4-font-semibold-font-style: normal;
  --text-xs-leading-4-font-semibold-font-weight: 600;
  --text-xs-leading-4-font-semibold-letter-spacing: 0px;
  --text-xs-leading-4-font-semibold-line-height: 16px;
}
